{% extends 'lookingtostay/base.html' %}
{% load static %}
{% block title %} List Of Hotels - {{ block.super }}{% endblock title %}
{% block content%}
<h1 class="hotelheader">Categories</h1>
<div>
    <ul class="cat">
        {% for filter_category in categories %}
        <li class="{% if filter_category == category %}current{% endif %}">{{ filter_category.link_filtered_hotels }}</li>
        {% endfor %}
    </ul>
    {% comment %} <form class='searchmethod' action="{% url 'hotels' %}" method="get">
        <input type="text" name="search", value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form> {% endcomment %}
</div>
<h1 class="hotelheader"> Property list </h1>
<ul class="hotel_list">
    {% for hotel in hotel_list %}
        <li class="hotel">
            <a href="{% url 'hotel' hotel.pk %}">
                {% if hotel.cover_photo %}
                    <img src="{{ hotel.cover_photo.url }}">
                {% else %}
                    <img src="{% static 'lookingtostay/img/hotel.jpg' %}">
                {% endif %}
                <div class="center lower">
                <p><b>{{ hotel.hotel_name}}</b></p>
                    </a>
                    <p>&#128204; {{ hotel.city }}</p>
                    <h5><i>From </i><br>{{ hotel.price_from }} {{ hotel.type_currency }}<br><i> per night </i></h5>
                </div>
        </li>
    {% endfor %}
</ul>
<div class="paginator center">
    {% if page_obj.has_previous %}
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page=1">&#11120;</a>
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.previous_page_number }}">&#129120;</a>
    {% endif %}
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.next_page_number }}">&#129122;</a>
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.paginator.num_pages }}">&#11122;</a>
    {% endif %}
</div>
{% endblock content%}