{% extends 'lookingtostay/base.html' %}
{% load static %}
{% block title %} List Of Hotels - {{ block.super }}{% endblock title %}
{% block content%}
<h1> Properties list </h1>
<div class="category_filter">
    <h3>Categories</h3>
    <ul>
        {% for filter_category in categories %}
            <li class="{% if filter_category == category %}current{% endif %}">{{ filter_category.link_filtered_hotels }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'hotels' %}" method="get">
        <input type="text" name="search", value="{{ request.GET.search }}">
        <button type="submit">Search</button>
    </form>
</div>
<ul class="hotel_list">
    {% for hotel in hotels %}
        <li class="hotel">
            {% comment %} <a href="{% url 'hotels' hotels.pk %}"> {% endcomment %}
                {% if hotel.cover_photo %}
                    <img src="{{ hotel.cover_photo.url }}">
                {% else %}
                    <img src="{% static 'lookingtostay/img/hotel.jpg' %}">
                {% endif %}
                <p><b>{{ hotel.hotel_name}}</b></p>
            </a>
            <p>Located in {{ hotel.city }}</p>
        </li>
    {% endfor %}
</ul>
<div class="paginator center">
    {% if hotels.has_other_pages %}
        {% for page_number in hotels.paginator.page_range %}
            {% if page_number == hotels.number %}
                <span>{{ page_number }}</span>
            {% else %}
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>


{% endblock content%}