{% extends 'lookingtostay/base.html' %}
{% load static %}
{% block title %}{{ object }} - {{ block.super }}{% endblock title %}
{% block content%}
<div class="sidegap">
    <h1>{{ object.hotel_name }}</h1>
    <div class="toppage">
        <h3>&#128204;{{ object.address }} {{ object.city }}</h3>
        <h5><i>From </i>{{ hotel.price_from }} {{ hotel.type_currency }}<i> per night </i></h5>
    </div>
</div>
<div class="grid one center">
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img1.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img2.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img3.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img4.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img5.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img6.url }}">
    </div>
  </div>
  <div class="amenity center">
    {% for amenity in object.amenities.all %}
    <ul class="amenities">
        <li>{{ amenity }}</li>
    </ul>
    {% endfor %}
</div>
<div class="description sidegap">
    <h4>Description</h4>
    <p>{{ hotel.description }}</p>
</div>
<div class="propertyrooms sidegap">
    <h3>Rooms</h3>
    {{ object.room_name }}
</div>
{% comment %} {{ object.amenities }} {% endcomment %}
{% endblock content%}