{% extends 'lookingtostay/base.html' %}
{% load static %}
{% block title %}{{ object }} - {{ block.super }}{% endblock title %}
{% block content%}
<div class="sidegap">
    <h1>{{ object.hotel_name }}</h1>
    <h2>Rating***</h2>
    <div class="toppage">
        <h3>&#128204;{{ object.address }} {{ object.city }}</h3>
        <h5><i>From </i>{{ hotel.price_from }} {{ hotel.type_currency }}<i> per night </i></h5>
    </div>
</div>
<div class="grid one center">
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img1.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img2.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img3.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img4.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img5.url }}">
    </div>
    <div class="gallery">
        <img src="{{ object.hotel_images.hotel_img6.url }}">
    </div>
  </div>
  <div class="amenity center">
    {% for amenity in object.amenities.all %}
    <ul class="amenities">
        <li>{{ amenity }}</li>
    </ul>
    {% endfor %}
</div>
<hr class="hr-text" data-content="Looking2Stay">
<div class="description sidegap">
    <h4>Description</h4>
    <p>{{ hotel.description }}</p>
</div>
<hr class="hr-text" data-content="Looking2Stay">
<div class="propertyrooms sidegap">
    <h3>Rooms</h3>
    <table class="rooms">
        <tr>
            <th></th>
            <th>Room Type</th>
            <th>People</th>
            <th>Total Price</th>
            <th></th>
        </tr>
    {% for room in object.room_types.all %}
        <tr>
            <td><img class="room_img center" src="{% static 'lookingtostay/img/room_img.png' %}">
            <td>{{ room.name }}</td>
            <td>{{ room.people }}</td>
            <td>{{ room.price }} {{ room.currency_type }}</td>
            <td><button class="roombtn" ><a href="{% url 'reservation' %}">Make a Reservation</a></button></td>
        </tr>
    {% endfor%}
    </table>
</div>

{% endblock content%}