{% extends 'lookingtostay/base.html' %}
{% load static %}
{% block title %} List Of Hotels - {{ block.super }}{% endblock title %}
{% block content%}
<h1> Properties to stay in </h1>
<ul class="hotel_list">
    {% for hotel in hotels %}
        <li class="hotel">
            {% comment %} <a href="{% url 'hotels' hotel.pk %}"> {% endcomment %}
                {% if hotel.cover_photo %}
                    <img src="{{ hotel.cover_photo.url }}">
                {% else %}
                    <img src="{% static 'lookingtostay/img/hotel.jpg' %}">
                {% endif %}
                <h4>{{ hotel.hotel_name}}</h4>
            </a>
            <p>Located in {{ hotel.city }}</p>
        </li>
    {% endfor %}
</ul>


{% endblock content%}