{% extends 'lookingtostay/base.html' %}
{% block title %} Welcome to {{ block.super }}{% endblock title %}
{% block content%}
<h1 class="center">Make a reservation for your dream stay today!</h1>
<hr class="hr-text" data-content="Looking2Stay">
    <p class="center">
    We have {{ num_hotels }} properties registered with us, 
    in {{ num_categories }} different categories, 
    from over {{ num_countries }} countries!<br>
    Make your reservation now! 
    </p>
    <form class="reservationfield center" method="get" action="{% url 'search_results' %}">
        {% csrf_token %}
        {% comment %} DESTINATION {% endcomment %}
        <div>
            <div class="center">
                <div class="search-label"><label>Search</label></div>
                <div class="search-input" ><input name="q" type="text" placeholder="Enter City, Address, Property Name"></div>
            </div>
        <div class="form-btn center">
            <button class="submit-btn" type="submit">See Results</button>
        </div>
    </form>
{% endblock content%}