{% extends 'registration/loginbase.html'%}
{% load static %}
{% block title %} Login - {{ block.super }}{% endblock title %}
{% block content %}
{% if form.errors %}
    <p class="form-error">Login error, please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p class="form-error">Permission error. You need a permission to see this page</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h3><b>Log In</b></h3>

    <label for="username">Username</label>
    <td class="input">{{ form.username }}</td>

    <label for="password">Password</label>
    <td class="input">{{ form.password }}</td><br>

    <input class="button" type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" /><br>

    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
  </form>
  {% endblock content %}