body {
    background-image: url('img/background.jpg');
    background-size: cover; 
    font-family: 'Verdana';
}

form{
    height: 400px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 0;
    text-align: center;
    color: rgb(70, 39, 0);
}

label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(70, 39, 0);
}

input{
    display: block;
    height: 35px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border: 2px solid rgb(70, 39, 0);
    border-radius: 5px;
    padding: 0 -5px;
    margin-top: 8px;
    font-size: 23px;
    font-weight: 300;
}

.button{
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
    background-color: rgb(217, 183, 124);
    color: rgb(70, 39, 0);
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(171, 128, 54);
}

p a {
    text-align: center;
    text-decoration: none;
    color: rgb(70, 39, 0);
}

p a:hover {
    color: black;
}

form.register {
    height: 540px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

button{
    margin-top: 40px;
    margin-left: 25%;
    width: 50%;
    background-color: rgb(217, 183, 124);
    color: rgb(70, 39, 0);
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(171, 128, 54);
}

p.registration {
    text-align: center;
}

form.reset {
    height: 300px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form.passwordreset {
    height: 480px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

p.reset {
    margin-top: 5rem;
    text-align: center;
}

button a {
    text-decoration: none;
    color: rgb(70, 39, 0);
}