body {
    background-color: rgba(255, 255, 255, 0.815);
    font-family: 'Verdana';
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

.banner-img {
    background-image: url('img/bg.jpg');
}

header {
    /* background-color: #1173b97c; */
    height: auto;
}

header .container {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 92%;
    min-width: 480px;
    margin: 0 auto;
}

header a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 1.5rem;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(234, 234, 236, 0.429);
}

.btn {
    border: none;
    outline: none;
    /* background-color: white; */
    cursor: pointer;
}

.btn:hover {
    background-color:rgb(218, 218, 218)
}

.btn.active {
    background-color: #666;
    color: white;
}

.button.aktyvus {
    background-color: #666;
    color: white;
}

ul.hotel_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

ul.hotel_list li.hotel {
    flex-basis: 15rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0;
    list-style: none;
}

ul.hotel_list li.hotel img {
    max-width: 100%;
}

ul.hotel_list li.hotel h4 {
    margin-top: 0;
}


ul.hotel_list li.hotel p {
    margin: 0;
    color: rgb(106, 106, 106);
}

/* bendra paginator lauku lentele */
.paginator a, .paginator span {
    display: inline-block;
    padding: 0.3rem;
    margin: 1px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 1rem;

}

/* Centruoja betkoki html objekta */
.center { 
    text-align: center;
}

/* Paginator pasirinktas puslapis */
.paginator span {
    background-color: rgb(138, 167, 255);
}

/* Paginator visi kiti puslapiu laukai */
.paginator a {
    background-color: rgb(255, 255, 255);
}

/* footer {
    background-color:  rgb(138, 138, 138);
    position: static;
    bottom: 0;
    width: 100%;

}

footer .container {
    display: flex;
    align-content: stretch;
} */