body {
    background-color: rgba(253, 194, 194, 0.815);
    font-family: 'Verdana';
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

.banner-img {
    background-image: url('img/bg.jpg');
}

header {
    /* background-color: #1173b97c; */
    height: auto;
}

header .container {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 92%;
    min-width: 480px;
    margin: 0 auto;
}

header a {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 1.5rem;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(234, 234, 236, 0.429);
}

.btn {
    border: none;
    outline: none;
    /* background-color: white; */
    cursor: pointer;
}

.btn:hover {
    background-color:rgb(218, 218, 218)
}

.btn.active {
    background-color: #666;
    color: white;
}

.button.aktyvus {
    background-color: #666;
    color: white;
}

footer {
    background-color:  rgb(138, 138, 138);
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer .container {
    display: flex;
    align-content: stretch;
}