body {
    background-image: url('img/background.jpg');
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Verdana';
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-y: scroll;
}

/* atstumas nuo kaires */
h1.hotelheader {
    margin-left: 2.4rem;
}

header, main {
    min-width: fit-content;
}

.banner-img a img {
    margin: -23px;
}

.banner-img {
    background-color: rgba(251, 231, 202, 0.815);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.logo {
    height: 70px;
}

header {
    /* background-color: #1173b97c; */
    height: auto;
}

header .container {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 92%;
    min-width: 480px;
    margin: 0 auto;
}

header a {
    display: inline-block;
    color: rgb(70, 39, 0);
    padding: 1.5rem;
    text-decoration: none;
    font-weight: 900
}

header a:hover {
    background-color: rgba(252, 214, 160, 0.815);;
}

h1 {
    color: rgb(70, 39, 0);
}

ul.hotel_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

/* property list individualios lenteles */
ul.hotel_list li.hotel {
    flex-basis: 15rem;
    border: none;
    background-color: rgba(251, 231, 202, 0.815);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0;
    list-style: none;
}

/* property list individualios lenteles hover */
ul.hotel_list li.hotel:hover {
    background-color: rgba(252, 214, 160, 0.815);;
}

ul.hotel_list li.hotel img {
    max-width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

ul.hotel_list li.hotel p {
    margin: 0;
    padding-bottom: 1;
    color: rgb(70, 39, 0);
    font-size: 13;
}

ul.hotel_list li.hotel h5 {
    color: rgb(70, 39, 0);
}

/* dekoracija ant property pavadinimo property liste */
ul.hotel_list li.hotel a {
    text-decoration: none;
}

/* dekoracija ant property categories pavadinimu */
a.category {
    text-decoration: none;
    border: none;
    padding: 12px 16px;
    background-color: rgba(217, 183, 124, 0.2);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
    color: rgb(70, 39, 0);
}

/* properties categories mygtuku hover */
a.category:hover {
    background-color:rgb(203, 161, 89);
}

/* sarasas be tasku ant property categories pavadinimu */
ul.cat {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

ul.cat li a {
    text-decoration: none;
    padding: 12px 16px;
    background-color: rgba(251, 231, 202, 0.815);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
    color: rgb(70, 39, 0);
}

ul.cat li a:hover {
    background-color:rgba(252, 214, 160, 0.815);;
}


/* bendra paginator lauku lentele */
.paginator a, .paginator span {
    display: inline-block;
    padding: 0.3rem;
    margin: 1px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 1rem;

}

.spacer {
    flex-grow: 1;
}

/* Centruoja betkoki html objekta */
.center { 
    text-align: center;
}

.lower {
    padding-top: 1rem;
}

/* search label index psl */
.search-label label {
    color: rgb(70, 39, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

/* search input index psl */

.search-input input {
    margin: 2rem 0%;
    height: 60px;
    /* width: 450px; */
    font-size: 25px;
    border-radius: 10px;
}

/* property pavadinimas */
.center.lower p {
    font-size: 13px;
}
/* atstumas nuo virsaus ir apacios paginator */
.paginator {
    margin: 2rem;
    /* color: rgb(70, 39, 0); */
}

/* paginator mygtuku spalva */
.paginator a {
    background-color: rgba(217, 183, 124, 0.2);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    color: rgb(70, 39, 0);
    border: none;
}

/* paginator mygtuko spalva hover */
.paginator a:hover {
    background-color:rgb(203, 161, 89);
}

/* User Profile photo */
.user-profile-photo {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    border-radius: 100%;
    margin: auto;
}

.user-profile-photo-wrap {
    max-height: 250px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    max-width: 250px;
    border-radius: 50%;
    padding: 5px;
    margin: auto;
}

h1.reservations {
    margin-top: 7rem;
}

.reservationfield {
    height: 250px;
    margin: 0 30%;
    background-color: rgba(251, 231, 202, 0.815);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 60px 35px;
}

.reservationfield .form-group {
    position: relative;
	height: 60px;
	margin-right: 20px;
    padding-top: 20px;

}

.reservationfield .form-control {
	background-color: transparent;
	border-radius: 0px;
	border: none;
	height: 40px;
	font-size: 15px;
	color: #333;
	font-weight: 600;
	background: rgba(255, 255, 255, 0.85);
	padding: 10px;
}

.reservationfield .form-label {
    font-weight: 900;
    color: rgb(70, 39, 0);
}

.reservationfield .submit-btn {
	background: #ddbb9382;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	height: 70px;
	border-radius: 10px;
	font-size: 18px;
	width: 40%;
	color: rgb(70, 39, 0);
}

.reservationfield .submit-btn:hover {
    background-color: rgba(252, 214, 160, 0.815);;
    cursor: pointer;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .7;
}
.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, rgba(251, 231, 202, 0.815), transparent);
	background: linear-gradient(to right, transparent, rgba(251, 231, 202, 0.815), transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 4px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
    font-weight: 900;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #000000;
	background-color: rgba(251, 231, 202, 0.815);;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.table-grid {
    padding: 12px 16px;
    background-color: rgba(251, 231, 202, 0.815);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
    color: rgb(70, 39, 0);
    position: absolute;
    right: 33%;
    width: 33%;
    height: 60%;
}

.table-grid button {
    padding: 12px 16px;
    
}

/* Profile bg window */
.profile {
    background-color: rgba(251, 231, 202, 0.815);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 80px;
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
    margin: 0 30%;
    padding: 2rem 0;
}

/* profile user first_name last_name p */
p.names {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* profile user country p */
p.countries {
    margin-top: 0;
    font-size: 20px;
}

/* profile account type p */
p.acc-type {
    margin-bottom: 2rem;
}

/* Update info and my reservations buttons */
a.updatebtn {
    text-decoration: none;
    margin: 0 2rem;
    padding: 1rem;
    background-color: rgba(251, 231, 202);
    border: 1px solid black;
    color:rgb(70, 39, 0);
    border-radius: 10px;
}

a.updatebtn:hover {
    background-color:rgba(252, 214, 160, 0.815);;
    cursor: pointer;
}

/* Update profile labels */
.elbl {
    font-size: 22px;
    color:rgb(70, 39, 0);
}

/* Update profile entry fields */
input#id_first_name {
    height: 2rem;
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
}

input#id_last_name {
    height: 2rem;
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
}

input#id_email {
    height: 2rem;
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
}

input#id_country {
    height: 2rem;
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
}

/* Update profile photo url */
.phlbl a {
    font-size: 0;
}

/* Update profile submit button */
.btn-sbmt {
    background-color: rgba(251, 231, 202);
    border: 1px solid rgb(250, 194, 81);
    border-radius: 10px;
    width: 20%;
}

.btn-sbmt:hover {
    background-color: rgba(203, 161, 89, 0.8);
    cursor: pointer;
}

.myreservations {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

.myreservations td, .myreservations th {
    border: 1px solid rgb(250, 194, 81);
    padding: 8px;
  }

.myreservations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(245, 213, 166, 0.815);
    color: rgb(70, 39, 0);
}

.myreservations td {
    background-color: rgba(251, 231, 202, 0.815);
}

.myreservations img {
    max-width: 130px;
    margin-right: -2rem;
    padding-right: 0.1rem;
}

.resform {
    background-color: rgba(251, 231, 202, 0.815);
    padding: 1rem;
    color: rgb(70, 39, 0);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    width: 40%;
    margin-left: 25%;
    position: absolute
}

.resform p {
    display: flex;
    flex-direction: column;
    right: 20rem;

}

.resform input, select {
    height: 25px;
    font-size: 25px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.resform textarea {
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

td.photo {
    text-align: left;
}

td.view {
    background-color: rgba(251, 231, 202, 0.815);
    margin-right: 0;
    border-radius: 10px;
    text-align: center;
}
  
td.view a {
    text-decoration: none;
    color: rgb(70, 39, 0);
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
}
  
td.view a:hover {
    background-color: rgba(203, 161, 89, 0.8);
}

.resgallery {
    --s: 130px; /* control the size */
    --g: 10px;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: inline-grid;
    gap: var(--g);
    width: calc(1*var(--s) + 9*var(--g));
    aspect-ratio: 1;
}

.resgallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    filter: grayscale(80%);
    transition: .35s linear;
}

.resgallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

h2.rd, h3.rd, a.rd{
    color: rgb(70, 39, 0);
    background-color: rgba(251, 231, 202, 0.815);
    border-radius: 10px;
    margin: 1rem 25%;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
}

a.rd {
    text-decoration: none;
}

a.rd:hover {
    background-color: rgba(252, 214, 160, 0.815);
}

p.rd {
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 600;
}

p.rdl {
    font-size: 20px;
    font-weight: 600;
}

.bg-form {
    background-color: w;
}

.contact {
    margin: 0;
}

.uni {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 1rem;
}

.window {
    background-color: rgba(251, 231, 202, 0.815);
    border-radius: 10px;
    padding: 1rem;
    margin: 0 20%;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
}

.contact-window {
    background-color: rgba(251, 231, 202, 0.815);
    border-radius: 10px;
    margin: 0 35%;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
}

.cancel-form {
    padding: 2rem;
    background-color: rgba(251, 231, 202, 0.815);
    margin: 0 30%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
}

/* Cancel reservation yes button */
.cancel-form button {
    background-color: rgb(252, 214, 160);
    border: 1px solid black;
    border-radius: 10px;
    padding: 11px 30px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(70, 39, 0);
}

.cancel-form button:hover {
    cursor: pointer;
    background-color: rgba(203, 161, 89, 0.8);
}

/* Cancel reservation no button */
.cancel-form a.button {
    background-color: rgb(252, 214, 160);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(70, 39, 0);

}

.cancel-form a.button:hover {
    background-color: rgba(203, 161, 89, 0.8);
}
