.one {
    grid-template-columns: repeat(3,auto);
}
.gallery {
    --s: 130px; /* control the size */
    --g: 10px;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: inline-grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    /* cursor: pointer; */
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

  .amenity li {
    list-style: none;
    white-space: nowrap;
    padding: 1rem;
    margin: 0 -15px;
    flex-wrap: wrap;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    background-color: rgba(251, 231, 202, 0.815);
}

.amenity li:hover {
    background-color: rgba(203, 161, 89, 0.5);
}

.amenity {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

.sidegap {
    margin: 2rem;
}

.description {
  background-color: rgba(251, 231, 202, 0.815);
  padding: 1rem;
  color: rgb(70, 39, 0);
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: rgb(70, 39, 0);
	text-align: center;
	height: 1.5em;
	opacity: .7;
}
.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, rgba(251, 231, 202, 0.815), transparent);
	background: linear-gradient(to right, transparent, rgba(251, 231, 202, 0.815), transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 4px;
}
.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
  font-weight: 900;
	color: rgb(70, 39, 0);
	padding: 0 .5em;
	line-height: 1.5em;
	background-color: rgba(251, 231, 202, 0.815);;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rooms {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.rooms td, .rooms th {
  border: 1px solid rgb(250, 194, 81);
  padding: 8px;
}

.rooms th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(245, 213, 166, 0.815);
  color: rgb(70, 39, 0);
}

.rooms td {
  background-color: rgba(251, 231, 202, 0.815);
}

.rooms img {
  max-width: 70px;
  margin-left: 8px;
  margin-right: -30px;
}

.rooms button.roombtn {
  background-color: rgba(251, 231, 202, 0.815);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: -7rem;
  border-radius: 10px;
}

.rooms button.roombtn a {
  text-decoration: none;
  color: rgb(70, 39, 0);
  padding: 2rem;
  border-radius: 10px;

}

.rooms button.roombtn:hover {
  background-color: rgba(203, 161, 89, 0.5);
}

div.reviews {
  background-color: rgba(251, 231, 202, 0.815);
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

/* Hiding radio buttons */
.rate > input{
  display: none
}

.rate{
  display: inline-block;
  border: 0;
}

.rate > label{
  float: right;
}

/* Showing review stars */
.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin: 0;
  padding: 0.3rem .2rem;
  cursor: pointer
}

/* Half star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

.rating-star i{
  color: #ffb503 !important;
}

/* reviews list */
.float-right {
  float: right;
}

.property-review {
  background-color: rgba(251, 231, 202, 0.815);
  border-radius: 10px;
  margin: 0.5rem 2rem;
  border: 2px solid rgb(250, 194, 81);
}

.property-review h4 {
  display: block;
  width: 98%;
  padding: 0.5rem 1rem;
  margin-left: 0px;
}

.property-review h4 img {
  max-height: 5rem;
  min-height: 5rem;
  max-width: 5rem;
  min-width: 5rem;
  float: left;
  margin-right: 0.5rem;
  border-radius: 3rem;
  border: 2px solid black;
}

.property-review p {
  margin-left: 7rem;
  min-height: 1.5rem;
}

.review-window {
  /* background-color: white; */
  margin: 2rem;
}

.size {
  margin: -1rem 0;
}

.form-ctrl {
  margin: 0 40%;
  width: 20%;
  border-radius: 10px;
  border: none;
}

h6 {
  margin: 0;
  color: rgb(170, 114, 53);
}

.form-area {
  margin: 0 35%;
  width: 30%;
  border-radius: 10px;
  border: none;
}

.label-title {
  margin: 1rem
}

h4.lowmargin {
  margin-top: 1rem;
  margin-bottom: 0;
  color: rgb(70, 39, 0);
}

.btn-primary {
  width: 20%;
  height: 3rem;
  margin: 1rem 40%;
  border-radius: 10px;
  border: 2px solid rgb(250, 194, 81);
  background-color: rgb(251, 231, 202);
  color: rgb(70, 39, 0);
  font-weight: 900;
}

.btn-primary:hover{
  background-color: rgba(203, 161, 89, 0.5);
  cursor: pointer;
}