.one {
    grid-template-columns: repeat(3,auto);
}
.gallery {
    --s: 130px; /* control the size */
    --g: 10px;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: inline-grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

  .amenity li {
    list-style: none;
    white-space: nowrap;
    padding: 1rem;
    margin: 0 -15px;
    flex-wrap: wrap;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    background-color: rgba(251, 231, 202, 0.815);
}

.amenity li:hover {
    background-color: rgba(203, 161, 89, 0.5);
}

.amenity {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

.sidegap {
    margin: 2rem;
}

.description {
  background-color: rgba(251, 231, 202, 0.815);;
  padding: 1rem;
  color: rgb(70, 39, 0);
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}